[submodule "client-data"]
	path = client-data
	url = git://github.com/themanaworld/tmwa-client-data.git
[submodule "tools"]
	path = tools
	url = git://github.com/themanaworld/tmw-tools.git
[submodule "https://github.com/themanaworld/tmw-tools.git"]
	path = https://github.com/themanaworld/tmw-tools.git
	url = https://github.com/themanaworld/tmwa-server-data.git
